# python related temporary files
__pycache__/
.ipynb_checkpoints/
**/logs/

# confidential 
*.pub
*.gcm_*
database/neutron_wall/efficiency/221102-park.txt
database/neutron_wall/efficiency/efficiency.txt

# data files (usually huge or reproducible)
wmu_mysql_database.h5
*.pkl
database_dir/**/*.h5

# object files, binaries, etc.
*.o
*.so
*.exe
*.zip

# documentation builds
docs/build/doctrees/*
docs/build/html/_sources/*
docs/source/_autosummary/*
docs/source/_build/*

# local files
.vscode/
env_*/
env_e15190/
local/etc
dev*.py
scratch/
database/neutron_wall/efficiency/light_responses/
database/neutron_wall/efficiency/response/
database/neutron_wall/efficiency/2023*/**/*.root
database/runlog/cleansed/
database/runlog/downloads/
database/runlog/elog_runs_filtered.h5

# pytest related
.database*
.coverage
tests/*.html

# local database
database/sqlite_files/
database/local_paths.json
database/neutron_wall/**/cache
database/neutron_wall/**/calib_params
database/neutron_wall/**/gallery
database/neutron_wall/efficiency/geant4_root_files/
database/hira/rensheng_espec/
database/.root_files_prev/
database/root_files*/*.root
