# python related temporary files
__pycache__/
.ipynb_checkpoints/

# confidential 
*.pub

# data files (usually huge or reproducible)
wmu_mysql_database.h5
*.pkl
*.h5

# object files, binaries, etc.
*.o
*.so
*.exe

# documentation builds
docs/build/doctrees/*
docs/build/html/_sources/*
docs/source/_autosummary/*
docs/source/_build/*

# local files
.vscode/
env_*/
env_e15190/
local/etc
dev*.py
scratch/

# pytest related
.database*
.coverage
tests/*.html

# local database
database/sqlite_files/
database/local_paths.json
database/neutron_wall/**/cache
database/neutron_wall/**/calib_params
database/neutron_wall/**/gallery
