# python related temporary files
__pycache__/
.ipynb_checkpoints/

# confidential 
*.pub

# data files (usually huge or reproducible)
wmu_mysql_database.h5
*.pkl
*.h5

# object files, binaries, etc.
*.o
*.so
*.exe

# local files
.vscode/
env_e15190/
dev*.py

# local database
database/local_paths.json
database/root_files
database/neutron_wall/position_calibration/cache
database/neutron_wall/position_calibration/gallery