<!doctype html>
<head lang="en">
  <!-- Required -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%220.9em%22 font-size=%2290%22>⚛️</text></svg>">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/theme_dark.css' %}">

  {% block title %}
  <title>E15190-E14030</title>
  {% endblock %}
</head>
<body>
  <div class="grid-container">
    <div class="sidebar grid-item noselect">

      <!-- At the very top, a menu icon that toggles collapsibility of sidebar -->
      <!-- The website name & logo will be displayed to the left of the icon -->
      <div class="top">
        <i class='bx bx-menu'></i>
        <div class="logo-and-name">
          <div>E15190-E14030</div>
          <div>Data Analysis</div>
        </div>
      </div>

      <!-- The content is a list of navigation buttons -->
      <ul class="content">
        <li>
          <a class="item" href="#">
            <i class='bx bxs-home-alt-2'></i>
            <span class="item-name">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a class="item" href="#">
            <i class='bx bxs-file-find'></i>
            <span class="item-name">Query</span>
          </a>
          <span class="tooltip">Query</span>
        </li>
        <li>
          <a class="item" href="#">
            <i class='bx bx-scatter-chart' ></i>
            <span class="item-name">Plot</span>
          </a>
          <span class="tooltip">Plot</span>
        </li>
        <li>
          <a class="item" href="#">
            <i class='bx bx-math' ></i>
            <span class="item-name">Calculator</span>
          </a>
          <span class="tooltip">Calculator</span>
        </li>
      </ul>

      <!-- Fill up all vertical space -->
      <div class="dummy"></div>

      <!-- Toggle button between light and dark themes -->
      <div class="bottom">
        <i class='bx bxs-adjust-alt' id="light-dark-theme-icon"></i>
      </div>

      <!-- Info, copyright, contacts, etc. -->
      <div class="separation-line"></div>

      <div class="info">
        <div class="copyright">
          <span><i class='bx bx-copyright' ></i> 2018-2022</span><br>
          <span>Fanurs C.E. Teh</span><br>
          <span>MSU/FRIB HiRA Group</span>
        </div>
      </div>

    </div>

    <!-- Main frame content to the right of sidebar -->
    <div class="mainframe grid-item">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <div>
  </div>

  <script src="{% static 'js/base.js' %}"></script>
</body>