<html>
  <head>
    <title>E15190-E14030 - Query</title>
  </head>
  <body>
    <h1>E15190-E14030 - Query homepage</h1>
    <div>
      <form method="GET">
        {% csrf_token %}
        <fieldset>
          <legend>Experimental run</legend>
          <input type="text" name="input-run" autocomplete="off" />
        </fieldset>
      </form>
    </div>
    <div>
      <ul>
        {% for key, value in run_info.items %}
          <li>{{ key }}: {{ value }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
