/* Global settings and variables */
* {
  font-family: Helvetica, Arial, sans-serif;
}
:root {
  --sidebar-collapsed-width: 55px;
  --sidebar-expanded-width: 210px;
  --sidebar-icon-size: 30px;
  --sidebar-font-size: 20px;
  --sidebar-content-item-height: 50px;

  /* colors */
  /* --sidebar-background-color: white;
  --sidebar-color: hsl(0, 0%, 10%);
  --sidebar-background-color-hover: var(--sidebar-color);
  --sidebar-color-hover: var(--sidebar-background-color);
  --mainframe-background-color: white;
  --mainframe-color: black; */
}
body {
  margin: 0;
  padding: 0;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Old versions of Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, supported by Chrome, Edge, Opera and Firefox */
}


/**********************
 * Whole page
 **********************/
.grid-container {
  display: grid;
  height: 100vh;
  justify-content: start;
}
.mainframe.grid-item {
  background-color: var(--mainframe-background-color);
  color: var(--mainframe-color);
  padding-left: 10px;
}


/**********************
 * Sidebar
 **********************/

/* Sidebar common attributes (collapsed or extended) */
.sidebar {
  display: flex;
  flex-direction: column;
  font-size: var(--sidebar-font-size);
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-color);
}
.sidebar .top {
  display: flex;
  height: 10vh;
  padding-left: calc((var(--sidebar-collapsed-width) - var(--sidebar-icon-size)) / 2);
  column-gap: 10px;
}
.sidebar .top .bx {
  display: flex;
  padding: 0;
  align-items: center;
  font-size: var(--sidebar-icon-size);
}
.sidebar .top .bx:hover {
  cursor: pointer;
  color: gray;
}
.sidebar .top .logo-and-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar .content {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar .content li {
  padding-left: calc((var(--sidebar-collapsed-width) - var(--sidebar-icon-size)) / 2);
}
.sidebar .content li .item {
  display: flex;
  padding: 0;
  align-items: center;
  height: var(--sidebar-content-item-height);
  text-decoration: none;
  color: var(--sidebar-color);
}
.sidebar .content li:hover {
  background-color: var(--sidebar-background-color-hover);
  border-radius: 10px;
}
.sidebar .content li .item:hover {
  color: var(--sidebar-color-hover);
}
.sidebar .content li .item .bx {
  font-size: var(--sidebar-icon-size);
}

/* Toggle button between light and dark themes */
.sidebar .bottom {
  display: flex;
  align-items: center;
  font-size: var(--sidebar-icon-size);
  height: var(--sidebar-content-item-height);
  padding: 0;
  padding-left: calc((var(--sidebar-collapsed-width) - var(--sidebar-icon-size)) / 2);
}

.sidebar #light-dark-theme-icon:hover {
  cursor: pointer;
  color: gray;
}

/* Fill up all vertical space */
.sidebar .dummy {
  flex-grow: 1;
}

/* Most bottom info, copyright, etc. */
.sidebar .separation-line {
  border-top: gray solid 1px;
}
.sidebar .info {
  display: flex;
  visibility: hidden;
  font-size: small;
  justify-content: center;
  align-items: center;
  height: 10vh;
}


/* Tooltip (only when sidebar is collapsed) */
.sidebar .content li {
  position: relative;
}
.sidebar .content li .tooltip {
  position: absolute;
  font-size: small;
  font-weight: bold;
  left: calc(var(--sidebar-collapsed-width) + 15px);
  top: 30%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-color);
  opacity: 0.9;
  visibility: hidden;
}

/* Sidebar behavior: Default collapsed */
.grid-container {
  grid-template-columns: var(--sidebar-collapsed-width) 1fr;
}
.sidebar .top .logo-and-name {
  position: absolute;
  visibility: hidden;
}
.sidebar .content li .item-name {
  position: absolute;
  visibility: hidden;
}
.sidebar .content li .item {
  grid-template-columns: 1fr;
  column-gap: 0;
}
.sidebar .content li .item:hover + .tooltip {
  visibility: visible;
  transition-delay: 0.2s;
}
.sidebar .info {
  visibility: hidden;
  font-size: small;
}

/* Sidebar behavior: Expanded */
.grid-container.sidebar-expanded {
  grid-template-columns: var(--sidebar-expanded-width) 1fr;
}
.grid-container.sidebar-expanded .sidebar .top .logo-and-name {
  position: relative;
  visibility: visible;
}
.grid-container.sidebar-expanded .sidebar .content li .item-name {
  position: relative;
  visibility: visible;
}
.grid-container.sidebar-expanded .sidebar .content li .item {
  grid-template-columns: 1fr 6fr;
  column-gap: 10px;
}
.grid-container.sidebar-expanded .sidebar .content li .tooltip {
  visibility: hidden;
}
.grid-container.sidebar-expanded .sidebar .info {
  visibility: visible;
  font-size: small;
}